/* Main sidebar styling */
:root {
  --custom-sidebar-width-collapsed: calc(
    max(32px, calc(1.7 * 1em)) + 2 * calc(3 * 0.267rem)
  );
  --custom-sidebar-width-expanded: 250px;
}

#sidebar-main {
  /* width: 50px !important; /* Collapsed width */
  width: var(--custom-sidebar-width-collapsed) !important; /* Collapsed width */
  transition: width 0.075s ease, margin-right 0.075s ease !important; /* Animation speed */
  z-index: 4 !important; /* Ensure it overlays other elements */
  margin-right: 0px !important;
  background: none !important; /* No background in collapsed state */
}

/* When hovering over the sidebar */
#sidebar-main:hover {
  width: 250px !important; /* Expanded width */
  margin-right: calc(
    -1 * var(--custom-sidebar-width-expanded) + var(--custom-sidebar-width-collapsed)
  ) !important; /* Adjust for layout shift */
  background: --lwt-accent-color !important; /* Background color */
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4) !important; /* Optional shadow for depth */
}

/* Optional styling for smoother transitions */
#sidebar-main:hover .tabbrowser-tab {
  width: auto !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

/* Column layout for pin tabs */
#vertical-pinned-tabs-container {
  grid-template-columns: none !important;
}

/* Show pin tabs separator in expanded state */
#tabbrowser-tabs[expanded] > #vertical-pinned-tabs-container-separator {
  display: block !important;
}

/* Hide pin tabs separator in expanded state with no pin tabs */
#vertical-pinned-tabs-container:empty
  + #vertical-pinned-tabs-container-separator {
  display: none !important;
}

/* Hide close button in collapsed state */
#tabbrowser-tabs[orient="vertical"]:not([expanded]) .tab-close-button {
  display: none !important;
}

/* Uniform tabs padding */
#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab {
  padding-block: 0px !important;
}

/* Scroll on the left */
#tabbrowser-arrowscrollbox[orient="vertical"] {
  direction: rtl;

  /* revert tabs to normal direction */
  > tab {
    direction: ltr;
  }
}

/* hide the new vertical tab extension buttons */
div.wrapper button-group.tools-and-extensions.actions-list {
  display: none !important;
}
