# VS Code files
.vscode

# Firefox files
user/apps/firefox/firefox_profile/chrome/.ExtensionStylesheetLoader
user/apps/firefox/firefox_profile/chrome/.SearchSelectionShortcut

# Logs
nixos-switch.log
hm-switch.log
