/* ______ _           __             __  __           _   ____  _     _    _ _____  
  |  ____(_)         / _|           |  \/  |         | | |  _ \| |   | |  | |  __ \ 
  | |__   _ _ __ ___| |_ _____  __  | \  / | ___   __| | | |_) | |   | |  | | |__) |
  |  __| | | '__/ _ \  _/ _ \ \/ /  | |\/| |/ _ \ / _` | |  _ <| |   | |  | |  _  / 
  | |    | | | |  __/ || (_) >  <   | |  | | (_) | (_| | | |_) | |___| |__| | | \ \ 
  |_|    |_|_|  \___|_| \___/_/\_\  |_|  |_|\___/ \__,_| |____/|______\____/|_|  \_\
  
                                                                                    
  Github:         github.com/datguypiko/Firefox-Mod-Blur     */

/*===============================================================
===================== E X T R A   M O D S =======================
===============================================================*/

@import url("privacy_change_email_text.css");
@import url("privacy_blur_email_in_main_menu.css");
@import url("privacy_blur_email_in_sync_menu.css");
@import url("firefox_view_icon_change.css");
@import url("no_search_engines_in_url_bar.css");
@import url("spill-style-part1-file.css");
@import url("white_github_icon_in_bookmarks.css");
@import url("hide_list-all-tabs_button.css");
@import url("bookmarks_bar_same_color_as_toolbar.css");
@import url("min-max-close_buttons.css");
@import url("acrylic_micaforeveryone.css");
@import url("privacy_blur_tabs_content.css");
@import url("popout_bookmarks_bar_on_hover.css");
@import url("remove_folder_icons_from_bookmarks.css");
@import url("icons_in_main_menu.css");
@import url("ublock-icon-change.css");
@import url("selected_tabs_static_width.css");
@import url("autohide_tab_and_bookmarks_bars.css");
@import url("url_bar_no_border.css");
@import url("search_bar_transparent_background.css");
@import url("transparent_bookmarks_bar.css");
@import url("cleaner_extensions_menu.css");
@import url("colored_soundplaying_tab.css");
@import url("menu_icon_change_to_firefox.css");
@import url("pinned_tabs_no_bg_color.css");
@import url("reversed_tabs_bg_color.css");
@import url("transparent_tabs_bg_color.css");
@import url("tabs_separator.css");
@import url("searchbox_text_align_left.css");
@import url("tabs_take_full_bar_width.css");
@import url("show_searchbar_dots_only_on_hover.css");

/*=====================================================================
=================== G L O B A L   V A R I A B L E S ===================
=====================================================================*/

:root {
  --firefoxcss-top-bar-border-bottom-size: 1px;
  --firefoxcss-border-radius: 10px;
  --firefoxcss-control-buttons-margin: 95px;
  --firefoxcss-tab-min-width: 110px;
  --firefoxcss-tab-max-width: 150px;
}

/*=====================================================================
====================== T O O L B A R   O R D E R ======================
=======================================================================
Order of Toolbars
  * 0 - top
  * 1 - second from top
  * 2 - bottom */

/* SEARCH BAR TOOLBAR */
#navigator-toolbox #nav-bar {
  order: 0 !important;
}

/* TABS TOOLBAR */
#titlebar {
  order: 1 !important;
}

/* BOOKMARKS TOOLBAR*/
#PersonalToolbar {
  order: 2 !important;
}

/* Extra titlebar menu (above or below tabs, opens with alt) */
#titlebar #toolbar-menubar {
  order: 0 !important;
}

/*=====================================================================
========================= H I D E   E L E M E N T S ===================
=====================================================================*/

/* Remove empty space from tabs bar */
#TabsToolbar .titlebar-spacer[type="pre-tabs"],
#TabsToolbar .titlebar-spacer[type="post-tabs"],
#TabsToolbar .titlebar-spacer,
/* Remove Search bar background color */
#urlbar-background,
/* Remove Line above search engine selection in search bar */
#urlbar .search-one-offs .search-panel-one-offs-header-label,
/* Remove lefover window buttons from extra menu bar (when pressing alt)*/
#titlebar #toolbar-menubar .titlebar-buttonbox-container,
/* Private browser icons remove and change main menu to purple */
#private-browsing-indicator-with-label,
.private-browsing-indicator,
/* Hide tracking protection icon from Search Bar */
#tracking-protection-icon-container,
/* Hide permission icons, see it when pressing permission button */
#blocked-permissions-container {
  display: none !important;
}

/* Remove line on the right side of the Firefox view button */
:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden])
  :is(#firefox-view-button, #wrapper-firefox-view-button)
  + #tabbrowser-tabs {
  border-inline-start: 0 !important;
}

/* Remove line between website content and top bar */
#navigator-toolbox {
  border-bottom: var(--firefoxcss-top-bar-border-bottom-size) solid
    var(--firefoxcss-top-bar-border-bottom-color) !important;
}

/*=====================================================================
======================= H E I G H T   F I X E S =======================
=====================================================================*/

/* Fix fullscreen issues with navigation bar at the top
:root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox {
  -moz-appearance: none !important;
  appearance: none !important;
  padding-top: 0px !important;
}*/

/* Fix the Fullscreen changing padding on other bars.
:root[tabsintitlebar][sizemode="maximized"] #titlebar {
  -moz-appearance: none !important;
  appearance: none !important;
}*/

/* Tabs Bar height */
:root {
  --tab-min-height: 28px !important;
}

:root #tabbrowser-tabs {
  --tab-min-height: 28px !important;
}

/* Menu Bar height */
#toolbar-menubar {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 22px !important;
  max-height: 22px !important;
}

#navigator-toolbox {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Search Bar height */
#urlbar-container {
  --urlbar-container-height: 38px !important;
}

#urlbar-container #urlbar {
  --urlbar-toolbar-height: 38px !important;
  --urlbar-height: 30px !important;
  --urlbar-min-height: 32px !important;
}

#wrapper-urlbar-container #urlbar {
  height: var(--urlbar-height) !important;
}

/*=====================================================================
=============================== I C O N S =============================
=====================================================================*/

/* #stop-reload-button .toolbarbutton-animatable-image{
  animation-duration: 0s !important; #b263e3; #a230e8
} */

/* Set icon colors with context-fill without forcing them in svg files
about:config -> svg.context-properties.content.enabled -> true*/
@media (prefers-color-scheme: dark) {
  #PanelUI-menu-button {
    list-style-image: url(image/menu.svg) !important;
  }
  :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
    list-style-image: url(image/menu-private.svg) !important;
  }

  #find-button {
    list-style-image: url(image/search.svg) !important;
  }

  #privatebrowsing-button {
    list-style-image: url(image/private.svg) !important;
  }

  #forward-button,
  menugroup > #context-forward,
  #search-container #searchbar .search-go-button,
  #urlbar-go-button {
    list-style-image: url(image/right-arrow.svg) !important;
  }

  #back-button,
  menugroup > #context-back {
    list-style-image: url(image/left-arrow.svg) !important;
  }
}

@media (prefers-color-scheme: light) {
  #PanelUI-menu-button {
    list-style-image: url(image/menu-light.svg) !important;
  }

  :root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
    list-style-image: url(image/menu-private-light.svg) !important;
  }

  #find-button {
    list-style-image: url(image/search-light.svg) !important;
  }

  #privatebrowsing-button {
    list-style-image: url(image/private-light.svg) !important;
  }

  #forward-button,
  menugroup > #context-forward,
  #search-container #searchbar .search-go-button,
  #urlbar-go-button {
    list-style-image: url(image/right-arrow-light.svg) !important;
  }

  #back-button,
  menugroup > #context-back {
    list-style-image: url(image/left-arrow-light.svg) !important;
  }
}

/*=====================================================================
============================ S E A R C H   B A R ======================
=====================================================================*/

#urlbar-input-container,
#searchbar,
#urlbar-container,
#urlbar {
  border-radius: var(--firefoxcss-border-radius) !important;
}

#urlbar .urlbarView-body-inner {
  border-top: 0px !important;
}

#urlbar:not(.megabar):not([focused="true"]),
#urlbar:not(.megabar):not([focused="true"]):hover {
  border-bottom: transparent;
}

#urlbar .urlbar-input-box {
  text-align: center;
}

#urlbar {
  --autocomplete-popup-highlight-background: var(
    --firefoxcss-url-autocomplete-highlight
  ) !important;
  border: 0 !important;
  background-color: var(--firefoxcss-url-bar-bg-color) !important;
  border-bottom: var(--firefoxcss-url-border-bottom-color) !important;
  border-top: var(--firefoxcss-url-border-top-color) !important;
  box-shadow: var(--firefoxcss-url-box-shadow-color) !important;
}

.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
  border-top: none !important;
}

/* Megabar */
#urlbar[breakout] {
  height: auto !important;
}

#urlbar[breakout][breakout-extend][open] {
  background-color: var(--firefoxcss-url-breakout-bar-bg-color) !important;
  border-bottom: 1px solid var(--firefoxcss-url-breakout-border-bottom-color) !important;
  border-top: var(--firefoxcss-url-border-top-color) !important;
  box-shadow: var(--firefoxcss-url-breakout-box-shadow) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,
#urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
  transition: none !important;
}

#urlbar[breakout][breakout-extend] {
  top: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
  ) !important;
  left: 0 !important;
  width: 100% !important;
}

/* Styling Extra search bar that you can add to firefox */
#search-container #searchbar {
  outline: 0 !important;
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-url-bar-bg-color) !important;
  border-bottom: var(--firefoxcss-url-border-bottom-color) !important;
  border-top: var(--firefoxcss-url-border-top-color) !important;
  box-shadow: var(--firefoxcss-url-box-shadow-color) !important;
}

#PopupSearchAutoComplete {
  --panel-background: var(--firefoxcss-url-breakout-bar-bg-color) !important;
}

/*=====================================================================
============================= T A B S =================================
=====================================================================*/

/* Non active tabs have darker text */
.tabbrowser-tab:not([selected]):not([multiselected]):not(:hover)
  .tab-label-container
  .tab-label {
  color: var(--firefoxcss-non-active-tabs) !important;
}

.tabbrowser-tab .tab-label-container .tab-label {
  transition: color 250ms ease !important;
}

/* Pinned tabs padding  */
:root:not([uidensity="compact"]) .tab-content[pinned] {
  padding: 0 8px !important;
}

/* Main BAR */
#navigator-toolbox {
  --tabs-border-color: none !important;
  --tabs-navbar-shadow-size: 0px !important;
}

#TabsToolbar
  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

#tabbrowser-tabs {
  --tab-loading-fill: transparent !important;
  margin-left: 2px !important;
}

/* Width of the tabs. Important to have Fadein or it breaks fonctionality */
/* not([style^="max-width"] :not([overflow])*/
#tabbrowser-tabs .tabbrowser-tab[fadein]:not([pinned]) {
  max-width: var(--firefoxcss-tab-max-width) !important;
  min-width: var(--firefoxcss-tab-min-width) !important;
}

/* Selected tabs width increase */
#tabbrowser-tabs:not([overflow])
  .tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: 175px !important;
}

/* Selected tabs width when overflowing */
#tabbrowser-tabs[overflow] .tabbrowser-tab[selected][fadein]:not([pinned]) {
  min-width: 150px !important;
}

.tabbrowser-tab:not([selected]):not([multiselected]):not(:hover)
  .tab-icon-image {
  opacity: 0.8 !important;
  transition: opacity 250ms ease !important;
}

/* 
 * Fix the height of the tab because if you
 * change --tab-min-height it doesnt work for fullcreen
 */
#TabsToolbar {
  padding-top: 0px !important;
  padding-bottom: 2px !important;
}

/* Remove the line between the tabs / seperators */
#tabbrowser-tabs .tabbrowser-tab::before,
#tabbrowser-tabs .tabbrowser-tab::after {
  border: 0 !important;
}

/* Normal tabs design */
.tabbrowser-tab .tab-background:not([selected]) {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-bg-color) !important;
  transition: background-color 250ms ease !important;
  box-shadow: var(--firefoxcss-normal-tabs-box-shadow) !important;
}

/* Normal tabs design on hover */
#tabbrowser-tabs
  .tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected]) {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
  box-shadow: var(--firefoxcss-normal-tabs-box-shadow) !important;
}

/* Selected tabs design */
#tabbrowser-tabs .tabbrowser-tab .tab-background[selected] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Multiselect tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected] {
  border: 0 !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-image: none !important;
  outline: none !important;
  background-color: var(--firefoxcss-tab-active-bg-color) !important;
  box-shadow: none !important;
}

#tabbrowser-tabs
  .tabbrowser-tab
  .tab-background:is([selected]):is([multiselected]) {
  outline: 1px solid var(--firefoxcss-tab-multiselect-outline) !important;
  outline-offset: 0px !important;
  outline-width: 1px !important;
}

/* Show Tab close button on hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: flex !important;
  opacity: 0;
  visibility: collapse !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  opacity: 1;
  visibility: visible !important;
  border-radius: 100% !important;
  transition: opacity 0.25s ease, visibility 0.25s ease,
    background-color 0.15s ease !important;
}

#titlebar #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-background {
  margin-block: 2px !important;
}

/* Remove right and left side tab overflow border line */
#scrollbutton-up ~ spacer {
  border-color: transparent !important;
}

/* Speaker on tabs color fixes */
.tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tab-icon-overlay:not([crashed])[muted]:hover,
.tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--firefoxcss-tab-speaker-icon-small-background) !important;
  background-color: var(--firefoxcss-tab-speaker-color) !important;
  fill-opacity: 0.95 !important;
}

.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[soundplaying]:hover,
.tabbrowser-tab[selected] .tab-icon-overlay:not([crashed])[muted]:hover,
.tabbrowser-tab[selected]
  .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: currentColor !important;
  stroke: var(--firefoxcss-tab-speaker-color) !important;
  background-color: var(--firefoxcss-tab-speaker-color) !important;
  fill-opacity: 0.95 !important;
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying],
#TabsToolbar .tab-icon-overlay:not([crashed])[muted],
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked] {
  color: var(--firefoxcss-tab-speaker-icon-color) !important;
}

#TabsToolbar .tab-icon-overlay:not([crashed])[soundplaying]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[muted]:hover,
#TabsToolbar .tab-icon-overlay:not([crashed])[activemedia-blocked]:hover {
  color: var(--firefoxcss-tab-speaker-icon-hover-color) !important;
}

/*=====================================================================
============ W I N D O W   C O N T R O L   B U T T O N S ==============
=====================================================================*/

@media (-moz-platform: windows) {
  /* ----- Close/min/max fix ----- */
  #toolbar-menubar .titlebar-button {
    padding-block: 0px !important;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    order: 1 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
  }

  #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child {
    padding-inline-start: 2px !important;
  }

  #nav-bar {
    padding-right: var(--firefoxcss-control-buttons-margin) !important;
  }

  #navigator-toolbox:not([inFullscreen])
    #TabsToolbar
    .titlebar-buttonbox-container {
    visibility: visible !important;
    display: flex !important;
    position: absolute !important;
    top: 1px;
    right: 0;
  }

  .titlebar-buttonbox-container .titlebar-button > .toolbarbutton-icon {
    height: 12px !important;
    min-height: 12px !important;
    width: 12px !important;
    min-width: 12px !important;
  }

  .titlebar-buttonbox-container .titlebar-button {
    border-radius: var(--toolbarbutton-border-radius);
    padding: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  :root[sizemode="maximized"] .titlebar-buttonbox-container {
    padding-top: 0px !important;
  }

  #navigator-toolbox[inFullscreen] #nav-bar {
    padding-right: initial !important;
  }

  .titlebar-buttonbox-container .titlebar-min {
    order: 0 !important;
  }

  .titlebar-buttonbox-container .titlebar-max,
  .titlebar-restore {
    order: 1 !important;
  }

  .titlebar-buttonbox-container .titlebar-close {
    order: 2 !important;
  }

  @media only screen and (max-width: 670px) {
    #navigator-toolbox:not([inFullscreen])
      #TabsToolbar
      .titlebar-buttonbox-container {
      visibility: visible !important;
      display: flex !important;
      position: relative !important;
      order: 1 !important;
      padding-top: 1px !important;
      padding-bottom: 1px !important;
    }

    #navigator-toolbox:not([inFullscreen]) #nav-bar {
      padding-right: initial !important;
    }
  }
}
/*=====================================================================
===================== B O O K M A R K S   B A R =======================
=====================================================================*/

/* Set bookmarks bar items padding */
#PlacesToolbarItems > .bookmark-item {
  padding-block: 6px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}

/*=====================================================================
=========================== B U T T O N S =============================
=====================================================================*/

/* Go Back button */
#back-button > .toolbarbutton-icon {
  border-radius: var(--toolbarbutton-border-radius) !important;
}

#back-button > .toolbarbutton-icon {
  border: none !important;
  background: none !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  padding: var(--toolbarbutton-inner-padding) !important;
}

/* Main Menu Button */
#PanelUI-button {
  margin-inline-start: 0 !important;
  padding-inline-start: 0 !important;
  border: none !important;
  border-inline-start: none !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover
  > .toolbarbutton-badge-stack {
  box-shadow: 0 0 4px var(--firefoxcss-toolbar-button-box-shadow) !important;
}

toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-text,
toolbar
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-badge-stack {
  box-shadow: 0 0 4px var(--firefoxcss-toolbar-button-active-box-shadow) !important;
}

/* ----- New tab icon size (16-default). Not change the rest of calc --- */
#tabs-newtab-button .toolbarbutton-icon,
#new-tab-button .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 12px) !important;
}

/* Design of the plus/newtab button - active/press */
toolbar
  #tabs-newtab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):-moz-any(
    [open],
    [checked],
    :hover:active
  )
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-active) !important;
  box-shadow: inset 2px 2px 2px 0px
    var(--firefoxcss-new-tab-button-box-shadow-active) !important;
}

/* Design of the plus/newtab button - hover */
toolbar
  #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon,
toolbar
  #new-tab-button:not([disabled="true"]):not([checked]):not([open]):not(
    :active
  ):hover
  > .toolbarbutton-icon {
  border: 0 !important;
  border-radius: 100% !important;
  background-image: none !important;
  background-color: var(--firefoxcss-new-tab-button-hover) !important;
  box-shadow: 1px 1px 4px -1px var(--firefoxcss-new-tab-button-box-shadow-hover) !important;
}

/* Back button hover/active color */
#back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

#back-button:not([disabled="true"]):is([open], [checked], :hover:active)
  > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

/* Firefox view button */
#TabsToolbar #firefox-view-button {
  margin-left: 2px !important;
}

#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon {
  background-image: none !important;
  box-shadow: none !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  background-color: var(--firefoxcss-tab-hover-bg-color) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
  border-radius: var(--firefoxcss-border-radius) !important;
  box-shadow: none !important;
}

:root:not([privatebrowsingmode="temporary"]):not([firefoxviewhidden])
  :is(#firefox-view-button, #wrapper-firefox-view-button)
  + #tabbrowser-tabs {
  padding-inline-start: 0px !important;
  margin-inline-start: 2px !important;
}

:root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
  fill: var(--firefoxcss-private-browsing-menu-color) !important;
}

:root[privatebrowsingmode="temporary"]
  #PanelUI-menu-button
  .toolbarbutton-badge-stack
  .toolbarbutton-icon {
  filter: var(--firefoxcss-private-browsing-drop-shadow) !important;
}

/*=====================================================================
==================== L I N U X   S U P P O R T ========================
=======================================================================
@media (-moz-gtk-csd-available)
@media (-moz-gtk-csd-reversed-placement) */

@media (-moz-platform: linux) {
  #context-navigation > .menuitem-iconic[_moz-menuactive="true"] {
    border-radius: var(--toolbarbutton-border-radius) !important;
    background-color: var(--button-hover-bgcolor) !important;
  }

  #context-navigation > .menuitem-iconic[_moz-menuactive="true"][disabled] {
    background-color: transparent !important;
  }

  #context-navigation > .menuitem-iconic,
  menupopup,
  menuseparator {
    appearance: none !important;
  }

  /*   menupopup > :-moz-any(menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"]) {
      background-color: color-mix(in srgb, currentColor 9%, transparent) !important;   
      } */

  menu:where([_moz-menuactive="true"]):not([disabled]),
  menuitem:where([_moz-menuactive="true"]):not([disabled]) {
    background-color: var(--button-hover-bgcolor) !important;
    color: var(--firefoxcss-contextmenu-hover-text) !important;
  }

  /*    menupopup :-moz-any(menu, menuitem) {
      appearance: none !important;
    } */

  #context-navigation:not([hidden]) {
    padding: 2px 2px !important;
  }

  /*   menuseparator {
    border-top: 1px solid var(--arrowpanel-border-color) !important;
    border-bottom: none !important;
    margin: 1px 1em;
  } */

  menuseparator#context-sep-navigation {
    margin-top: 0 !important;
    margin-inline: 0 !important;
  }

  /*   menupopup .menu-text, menupopup .menu-iconic-left, menupopup .menu-iconic-text {
      font-size: 0.9em;} */

  /*   Smaller tab text and height. Broken on fedora? */
  #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: 2.4em !important;
    font-size: 0.9em;
  }

  /* ----- Close/min/max fix ----- */
  #toolbar-menubar .titlebar-button {
    padding-block: 0px !important;
  }

  #TabsToolbar .titlebar-buttonbox-container {
    order: 1 !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-right: 3px !important;
    padding-left: 3px !important;
  }

  #nav-bar-customization-target > :is(toolbarbutton, toolbaritem):first-child {
    padding-inline-start: 2px !important;
  }

  #nav-bar {
    padding-right: var(--firefoxcss-control-buttons-margin) !important;
  }

  #navigator-toolbox:not([inFullscreen])
    #TabsToolbar
    .titlebar-buttonbox-container {
    visibility: visible !important;
    display: flex !important;
    position: absolute !important;
    top: 1px;
    right: 0;
  }

  #TabsToolbar .titlebar-buttonbox-container .titlebar-button {
    border-radius: var(--toolbarbutton-border-radius);
  }

  :root[sizemode="maximized"] .titlebar-buttonbox-container {
    padding-top: 0px !important;
  }

  #navigator-toolbox[inFullscreen] #nav-bar {
    padding-right: initial !important;
  }

  .titlebar-buttonbox-container .titlebar-min {
    order: 0 !important;
  }

  .titlebar-buttonbox-container .titlebar-max,
  .titlebar-restore {
    order: 1 !important;
  }

  .titlebar-buttonbox-container .titlebar-close {
    order: 2 !important;
  }

  @media only screen and (max-width: 670px) {
    #navigator-toolbox:not([inFullscreen])
      #TabsToolbar
      .titlebar-buttonbox-container {
      visibility: visible !important;
      display: flex !important;
      position: relative !important;
      order: 1 !important;
      padding-top: 1px !important;
      padding-bottom: 1px !important;
    }

    #navigator-toolbox:not([inFullscreen]) #nav-bar {
      padding-right: initial !important;
    }
  }
}

/*=====================================================================
=============== C U S T O M I Z A T I O N   M E N U ===================
=====================================================================*/
/* Customize toolbar background color */
#customization-container {
  background-image: none !important;
  background-color: var(--firefoxcss-main-bg-color) !important;
}

#PersonalToolbar[customizing]
  toolbarpaletteitem[place="toolbar"]
  > toolbarspring,
#nav-bar[customizing] toolbarpaletteitem[place="toolbar"] > toolbarspring,
#customization-container toolbarpaletteitem[place="palette"] > toolbarspring {
  outline: 1px solid var(--firefoxcss-customize-view-flex-space) !important;
  outline-offset: -3px !important;
  border-radius: 6px !important;
}

@media not (-moz-platform: macos) {
  #customization-panelWrapper > .panel-arrowcontent {
    border-radius: 10px !important;
    background-color: var(--firefoxcss-customize-view-overflow-menu) !important;
  }
}

#PersonalToolbar[customizing] {
  outline: 1px dashed var(--firefoxcss-customize-view-dashed-outline) !important;
}

.browserContainer > findbar .findbar-textbox {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

#customization-container #customization-footer {
  border-top: none !important;
}

@media (-moz-platform: macos),
  (-moz-platform: windows),
  not (prefers-contrast) {
  #customization-container #customization-footer .customizationmode-button {
    border-radius: 4px !important;
  }
}

/*=====================================================================
============================= O T H E R ===============================
=====================================================================*/

/* Status URL change (bottom left when hovering a link)  */
#statuspanel-label {
  background-color: var(--firefoxcss-statuspanel-bg-color) !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  color: currentColor !important;
  margin: 0 0 3px 3px !important;
  padding: 4px !important;
}

/* Make forward and back buttons smaller  */
#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon{
  padding: 8.5px !important;
}

/* Contrainer extension code */
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:is([usercontextid],[pinned]) .tab-background:not([selected]) {
  background: var(--identity-tab-color) !important;
  opacity: 0.3 !important;
}

/* Contrainer extension code */
#tabbrowser-tabs .tab-context-line {
  display:none !important;
}
