/**
 * This one should go into TCR settings.
 * Tweaked version of https://github.com/pdro-lucas/minimal-firefox.
 */

:root,
body {
    overflow: hidden;
}

/* Move topmenu to bottom */
#topmenu {
    order: 2;
    background: transparent;
    border: none;
}

/* Decorate topmenu */
#topmenu {
  border-bottom: 1px solid var(--tab-active-background) !important;
  padding: 4px 4px 4px 10px;
  margin-bottom: 10px;
}

/* Hide settings icon */
#settings { display: none; }


#tablist-wrapper,
#pinnedtablist { background: var(--uc-base-colour);}

.tab:hover,
.tab.active { background: var(--uc-highlight-colour);}


.tab:hover {
  transform: scale(1.05);
}

#tablist-wrapper .tab-title-wrapper,#filterbox-icon, #filterbox-input {
  opacity: 0;
  transform: translateX(-10px);

  transition: all 200ms ease;
  transition-delay: 0ms;
}

#filterbox-input { width: 100%; border-radius: 6px !important; }
#filterbox-icon { z-index: 100; }

body:hover #tablist-wrapper .tab-title-wrapper, body:hover #filterbox-icon, body:hover #filterbox-input {
  opacity: 1;
  transform: translateX(0);

  transition-delay: 50ms;
}

.tab,
.tab.active { border-bottom: none !important; }

.tab.active { background: var(--input-background) !important; width: 16% !important }

body:hover .tab.active{ width: 95% !important; }

#pinnedtablist.compact:not(:empty) { padding-left: 6px; }

#pinnedtablist:not(.compact) .tab { padding: 8px; }
#tablist .tab { width: 90%; margin-left: 5px; border-radius: 6px}



.tab { overflow: visible; transition: all 0.1s cubic-bezier(.79,.14,.15,.86) !important;}



#pinnedtablist:not(.compact) .tab[data-identity-color] .tab-context::before,
#tablist .tab[data-identity-color] .tab-context::before {

  position: absolute;
  top: 4px; bottom: 4px;

  width: 2px;

  background: var(--identity-color);

  content: '';

}

#tablist { gap: 2px; }
#tablist .tab[data-identity-color] .tab-context::before { left: -3px; }

.tab-icon { width: 14px; }

/* Hide close button and burst (loading indicator) */
#pinnedtablist:not(.compact) .tab .tab-pin,
.tab-close { display: none; }

/* Hide burst (loading indicator) */
/* #pinnedtablist:not(.compact) .tab .tab-pin,
.tab-loading-burst { display: none; } */

#pinnedtablist:not(.compact) .tab[data-identity-color] .tab-context { box-shadow: none !important; }

[data-identity-color="blue"]      { --identity-color: var(--uc-identity-colour-blue); }
[data-identity-color="turquoise"] { --identity-color: var(--uc-identity-colour-turquoise); }
[data-identity-color="green"]     { --identity-color: var(--uc-identity-colour-green); }
[data-identity-color="yellow"]    { --identity-color: var(--uc-identity-colour-yellow); }
[data-identity-color="orange"]    { --identity-color: var(--uc-identity-colour-orange); }
[data-identity-color="red"]       { --identity-color: var(--uc-identity-colour-red); }
[data-identity-color="pink"]      { --identity-color: var(--uc-identity-colour-pink); }
[data-identity-color="purple"]    { --identity-color: var(--uc-identity-colour-purple); }

/* Use mask for overflow instead of shadows */
.can-scroll-top #tablist { mask: linear-gradient(transparent, var(--uc-shadow-colour) 40px); }
.can-scroll-bottom #tablist { mask: linear-gradient(var(--uc-shadow-colour) calc(100% - 40px), transparent); }
.can-scroll-bottom.can-scroll-top #tablist { mask: linear-gradient(transparent, var(--uc-shadow-colour) 40px calc(100% - 40px), transparent); }
#topshadow, #bottomshadow { display: none; }


#main-window[titlepreface^="[1] "] #sidebar-box[sidebarcommand="tabcenter-reborn_ariasuni-sidebar-action"] {
  visibility: collapse;
}
